{% extends "golfproapp/layout.html" %}

<!-- Extend the base layout from the layout.html -->

{% block title %} Golf Purchases List {% endblock %}

{% block content %}
    <h1 class="text-center">Golf Purchases</h1>
    <table class="table table-bordered table-striped ">
        <thead class="thead-dark">
            <tr>
                <th>Customer ID</th>
                <th>Purchase Date</th>
                <th>Purchase ID</th>
                <th># of Players (18)</th>              
                <th>18 Holes Cost</th>
                <th># of Carts (18)</th>
                <th>Cart Cost (18)</th>
                <th># of Players (9)</th>              
                <th>9 Holes Cost</th>
                <th># of Carts (9)</th>
                <th>Cart Cost (9)</th>
                <th>Golf Subtotal</th>
                <th>Golf Tax</th>
                <th>Golf Total</th>
                <th>Actions</th>       
            
            </tr>
        </thead>
        <tbody>
            {% for golf_purchase in object_list %}
            <tr>
                <td>{{ golf_purchase.customer_id }} </td>
                <td>{{ golf_purchase.gp_date }} </td>
                <td>{{ golf_purchase.gp_id }} </td>
                <td>{{ golf_purchase.num_18_players }} </td>
                <td>{{ golf_purchase.holes_18_price }} </td>
                <td>{{ golf_purchase.num_18_carts }} </td>
                <td>{{ golf_purchase.cart_18_price }} </td>
                <td>{{ golf_purchase.num_9_players }} </td>
                <td>{{ golf_purchase.holes_9_price }} </td>
                <td>{{ golf_purchase.num_9_carts }} </td>
                <td>{{ golf_purchase.cart_9_price }} </td>
                <td>{{ golf_purchase.golf_subtotal }} </td>
                <td>{{ golf_purchase.golf_tax }} </td>
                <td>{{ golf_purchase.golf_total }} </td>
                <td> 
                    <a href="{% url 'golf_purchase_update' golf_purchase.gp_id %}" class="btn btn-warning" >Update/Print Receipt</a>
                    <a href="{% url 'golf_purchase_delete' golf_purchase.gp_id %}" class="btn btn-danger" >Delete Purchase</a>
                </td>  
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}