{% extends "golfproapp/layout.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

   <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Pro Shop</h1>
    <img src = "{% static 'gcimage.jpg' %}" height="200" width="200"/>    
    <p class="lead">
        Manage your Pro Shop!.
    </p>
    <hr class="my-4">
    <p>
        Use the either the navigation bar or the buttons below to:
        <ul>
          <li>Add, update or delete golf customers</li>
          <li>Add, update or delete golf purchases</li>
          <li>View Golf Customers</li>
          <li>View All Golf Purchases</li>
        </ul>
    </p>
    <a href="{% url 'customer_list' %}" class="btn btn-primary btn-sm" role="button">View Golf Customers</a>
    <a href="{% url 'customer_create' %}" class="btn btn-primary btn-sm" role="button">Create Golf Customer</a>
    <a href="{% url 'golf_purchase_create' %}" class="btn btn-primary btn-sm" role="button">Create Golf Purchase</a>
    <a href="{% url 'golf_purchase_list_view' %}" class="btn btn-primary btn-sm" role="button">View Golf Purchases</a>
  </div>
{% endblock %}