{% extends "golfproapp/layout.html" %}

{% block title %} Home {% endblock %}

{% block content %}
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Pro Shop</h1>
    <p class="lead">
        Manage your Pro Shop!.
    </p>
    <hr class="my-4">
    <p>
        Use the navigation bar to add, view, update or delete customers.
    </p>
    <a href="{% url 'customer_list' %}" class="btn btn-primary btn-lg" role="button">View Golf Customers</a>
    <a href="{% url 'golf_purchase_list' %}" class="btn btn-primary btn-lg" role="button">View Golf Purchases</a>
  </div>
{% endblock %}