{% extends "golfproapp/layout.html" %}

<!-- Extend the base layout from the layout.html -->

{% block title %} Golf Purchases List {% endblock %}

{% block content %}
    <h1 class="text-center">Miscellaneous Purchases</h1>
    <table class="table table-bordered table-striped ">
        <thead class="thead-dark">
            <tr>
                <th>Misc Purchase Date</th>
                <th>Purchase ID</th>
                <th>Inventory ID</th>
                <th>Inventory Description</th>
                <th>Misc Quantity</th>
                <th>Misc Price</th>
                <th>Misc Subtotal</th>
                <th>Misc Tax</th>
                <th>Misc Total</th>
                <th>Actions</th>       
            
            </tr>
        </thead>
        <tbody>
            {% for misc_purchase in object_list %}
            <tr>
                <td>{{ misc_purchase.mp_date }} </td>
                <td>{{ misc_purchase.purch_id }} </td>
                <td>{{ misc_purchase.inv_id }} </td>
                <td>{{ misc_purchase.ichoice }} </td>
                <td>{{ misc_purchase.misc_quantity }} </td>
                <td>{{ misc_purchase.misc_price }} </td>
                <td>{{ misc_purchase.misc_subtotal }} </td>
                <td>{{ misc_purchase.misc_tax }} </td>
                <td>{{ misc_purchase.misc_total }} </td>
                <td> 
                    <a href="{% url 'misc_purchase_update' misc_purchase.purch_id %}" class="btn btn-warning" >Update</a>
                    <a href="{% url 'misc_purchase_delete' misc_purchase.purch_id %}" class="btn btn-danger" >Delete</a>
                </td>  
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}