{% extends "golfproapp/layout.html" %}

<!-- Extend the base layout from the layout.html -->
{% block title %} Golf Purchase Form {% endblock %}

{% block content %}
<h1 class="text-center">Golf Purchase Create Form</h1>
<form method="POST" class="jumbotron">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-success btn-block" type="submit">Save Golf Purchase</button>
    <button class="btn btn-success btn-block" type="button" onclick="printForm()">Print Purchase</button>
    <button class="btn btn-light btn-block"><a href="{% url 'golf_purchase_list_view' %}">Return to Purchase List</a></button>
    <script>
        function printForm() {
            window.print();
            }
    </script>

    
</form>
{% endblock %}